@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(20, 19, 29);
  color: brown;
  text-align: center;
  margin-top: 10px;
}

#app {
  width: 100%;
}

#logout-button {
  margin-right: 10px;
}

#main-container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#navbar-brand {
  position: relative;
}

#navbar-brand:hover {
  cursor: pointer;
}

.navbar-buttons {
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-right: 10px;
  margin-left: 5px;
}

.navbar-buttons:hover {
  color: hotpink;
}

#search-bar-container {
  // display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

#search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-btn  {
  padding: 0px 15px 0px 15px;
  font-size: 18px;
  background-color: deeppink;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
}

#filter-button-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  gap: 20px;
}

.filter-btn {
  padding: 5px 15px 5px 15px;
  font-size: 18px;
  background-color: deeppink;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
}

.filter-btn:hover {
  background-color: rgb(204, 15, 109);
}

#vocab-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.card {
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-control {
  width: 60%;
}
